version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_pass
      POSTGRES_DB: db_name
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgres://db_user:db_pass@db:5432/db_name?schema=public
    depends_on:
      - db
volumes:
  db_data:

CMD:
RUN npm install
RUN npx prisma generate
RUN npm run build
